.navbar {
    padding: 0 16px;
    position : fixed;
    padding-bottom : 5rem;
}

.navbar-brand {
    height : 4rem;
    margin : 0px;
}

    .navbar .dropdown .dropdown-menu {
        margin-top: 0;
        border-top: none;
        border-radius: 0;
    }

@media (min-width: 768px) {
    .dropdown:hover > .dropdown-menu {
        display: block;
    }

    .dropdown .dropdown-toggle::after {
        display: none;
    }

    .dropdown .dropdown-toggle:active {
        pointer-events: none;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 8px 16px;
    }

        .navbar .dropdown .dropdown-toggle {
            padding: 0 10px;
            line-height: 40px;
            position: absolute;
            top: 0;
            right: 0;
        }
}

a {
    color: #3E1E9C;
    font-weight:600;
}
