.jumbotron {
    padding: 0rem !important;
    margin-bottom: 0rem !important;
    background-size: cover;
}

.nav{
    padding : 0px;
}

.tableHeader {
    background-color: #00008F !important;
    color : white;
}

.bigTitleColor {
    color: #00008F;
}

.backgroundHome {
    background-image: url(../Content//img/risk.jpg);
    background-repeat : no-repeat;
    background-size : cover;
    background-position : center;
    height : 50vh;
}

.titleHome {
    color : white;
    text-align : left;
    margin-left : 10rem;
    padding-top : 5rem;
}

.otherTitle {
    color: white;
    text-align: center;
    padding-top: 7rem;
}

.underTitleHome {
    text-align: left;
    margin-left: 10rem;
}

.hrColor {
    border: 1px solid #ff0000;
    background-color: #ff0000;
    margin : 0px;
}

.subTitle {
    color: #3E1E9C;
}

label{
    font-weight :  600;
}

textarea{
    width : 100%;
}


dt{
    text-align :center;
    color : darkslateblue;
}

dd {
    text-align: center;
    color : gray;
    font-weight :500;
}

dl{
/*    border :dashed;*/
}

.statusValid {
    color: mediumseagreen;
    background-color: white;
    border: none;
    font-weight: 600;
    width :100%;
}

.statusWaiting {
    color: orange;
    background-color: white;
    border: none;
    font-weight: 600;
    width: 100%;
}

h5 {
    color : #3E1E9C;
}


.cardLabel {
    color: #3E1E9C;
    font-weight: 700;
}

.cardTxt {
    color: gray !important;
    font-weight: 600;
    background-color : white;
    border :none;
    width:100%;
}

/*.chosen-container {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);*/
   /* padding: 0.375rem 0.75rem;*/
    /*font-size: 1rem;
    font-weight: 400;*/
    /*line-height: 1.5;*/
    /*color: #495057;
    background-color: white;*/
    /*background-clip: padding-box;*/
    /*border: 1px solid;*/
    /*border-radius: 0.25rem;*/
  /*  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;*/
/*}



.chosen-container-single .chosen-single span {
    display: block;
    margin-right: 26px;*/
    /* overflow: hidden; */
    /*text-overflow: none;
    white-space: nowrap;
    background-color: white;
    background-image : none !important;
}


.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    height: 34px;
    padding: 0 0 0 8px;
    overflow: hidden;
    line-height: 34px;
    color: #555555;
    text-decoration: none;
    white-space: nowrap;
    background-color: #ffffff;
    background-image: none !important;*/
    /*border : none !important;*/
/*    background-image: -webkit-linear-gradient(top, #ffffff, 0%, #eeeeee, 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);*/
    /* background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%); */
    /* background-repeat: repeat-x; */
     /*border: 1px solid #cccccc;
     border-radius : 0.25 rem !important;*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);*/
    /*-webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}*/


.search_select_box{
    width : 100% auto;
}

.search_select_box select{
    width: 100%;
}

.search_select_box button{
    background-color : #080342 !important;
}

.datepicker {
    background-color: white !important;
}
