.jumbotron {
    padding: 0rem !important;
    margin-bottom: 0rem !important;
    background-size: cover;
}

.nav{
    padding : 0px;
}

.tableHeader {
    background-color: #00008F !important;
    color : white;
}

.bigTitleColor {
    color: #00008F;
}

.backgroundHome {
    background-image: url(../Content//img/risk.jpg);
    background-repeat : no-repeat;
    background-size : cover;
    background-position : center;
    height : 50vh;
}

.titleHome {
    color : white;
    text-align : left;
    margin-left : 10rem;
    padding-top : 5rem;
}

.otherTitle {
    color: white;
    text-align: center;
    padding-top: 7rem;
}

.underTitleHome {;
    text-align: left;
    margin-left: 10rem;
}


